<a href="https://colab.research.google.com/github/m-newhauser/data-science-in-a-day/blob/master/1-datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Common data types

In [ ]:
# To run the code in the cell press --> SHIFT RETURN

###### Strings

In [ ]:
player = 'Lionel Messi'

print(player)

Lionel Messi

#### Integers

In [ ]:
career_goals = 690

print(career_goals)

type(career_goals)

690

int

#### Lists

In [ ]:
football_players = ['Cristiano_Ronaldo', 'Lionel_Messi', 'Zlatan_Ibrahimovic']

print (football_players)

['Cristiano_Ronaldo', 'Lionel_Messi', 'Zlatan_Ibrahimovic']

#### Dictionaries

In [ ]:
lionel_messi = {
    'player': 'Lionel_Messi',
    'national_team': 'Argentina',
    'club': 'FC Barcelona',
    'career_goals': 690 ,
}

print(lionel_messi)

{'player': 'Lionel_Messi', 'national_team': 'Argentina', 'club': 'FC Barcelona', 'career_goals': 690}

#### DataFrames

In [ ]:
# Import Pandas package
import pandas as pd


# Use Pandas' DataFrame function to create a DataFrame
pd.DataFrame([lionel_messi])

         player national_team          club  career_goals
0  Lionel_Messi     Argentina  FC Barcelona           690