<a href="https://colab.research.google.com/github/m-newhauser/data-science-in-a-day/blob/master/2-functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Custom functions

In [ ]:
# Let's add a single digit three times
1 + 1 + 1

3

In [ ]:
# Let's repeat this for numbers 2-5
3 + 3 + 3

9

In [ ]:
# This takes too long!

In [ ]:
# Let's create a function

def add_digit_three_times(digit):

  result = digit + digit + digit

  return result

In [ ]:
# Run the function

add_digit_three_times(digit=7)

21

### Pre-existing functions

In [ ]:
# Let's use a function from a package called Statistics

In [ ]:
# Import the statistics module

import statistics

In [ ]:
(1+2+3+4+5)/5

3.0

In [ ]:
# Make a list of numbers

numbers = [1, 2, 3, 4, 5]

In [ ]:
# Calculate the mean of numbers and save as an object

mean = statistics.mean(numbers)

In [ ]:
# Print the mean

print(mean)

3

In [ ]:
# Let's do another example

In [ ]:
# Import the NumPy package

import numpy as np

In [ ]:
# Use NumPy's rounding function

np.round(5.2398, 2)

5.24